.container-fluid {
    background-color: rgb(190, 190, 190); 
    padding: 15px; 
    margin-top: 10px;
}

.navbar-brand {
    margin-right: 50px; 
    font-size: 30px; 
    font-weight: bold; 
    color: navy;
}

.nav-link {
    font-size: 20px; 
    margin-right: 15px;
}

.msg {
    animation: hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
}

h1 {
    display: flex; 
    justify-content: center; 
    align-self: center;
    border-bottom: 5px solid navy;
    padding: 35px;
    margin-top: 20px;
}

h1 strong {
    margin-left: 30px;
}

.lForm {
    margin-top: 60px;
}

.lElement1 {
    margin: 70px;
    display:flex; 
    justify-content: center;
}

.lElement1 input {
    padding: 15px 80px;
    border: none; 
    border-bottom: 2px solid navy;
}

.lElement2 {
    margin-top: 70px; 
    justify-content: center; 
    display: flex; 
    justify-items: center;
}

.lElement2 input {
    padding: 8px 80px; 
    background-color: rgb(186, 222, 252); 
    border: none;
    border-radius: 10px; 
    text-align: left;
}

.lElement3{
    margin-top: -40px; 
    justify-content: center; 
    display: flex; 
    justify-items: center;
}

.lElement3 input {
    padding: 15px 80px;
    border: none; 
    border-bottom: 2px solid navy;
}

.lElement4 {
    margin-top: 5%; 
    justify-content: center; 
    display: flex; 
    justify-items: center;
}

.lElement4 input {
    padding: 10px 30px; 
    background-color: rgb(255, 61, 61); 
    border: none;
    border-radius: 10px; 
    text-align: left;
}

.container {
    margin-top: 50px;
}

.Ulist {
    margin-top: 10px; 
    justify-content: center; 
    display: flex; 
    justify-items: center;
}

.Ulist p {
    font-size: 20px;
    padding: 0 40px;
    
}

.Ulist p span {
    font-weight: bold;
    color: navy;
}


@keyframes hideItem {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
      } 
}
